1. print numbers from 1 to 10 using loop

In [4]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

2. calculate the sum of numbers from 1 to 10 using a for loop

In [5]:
sum_numbers = 0
for num in range(1,11):
    sum_numbers += num
print(sum_numbers)

55

3. print the elements of a list for a loop

In [7]:
my_list = [1,2,3,4,5]
for element in my_list:
    print(element)

1
2
3
4
5

4 calculate the product of elements in a list using a for loop:

In [8]:
my_kist = [2,3,4,5]
product = 1
for num in my_list:
    product *=num
print(product)

120

5. Print even numbers from 1 to 10 using a for loop

In [9]:
for num in range(2,11,2):
    print(num)

2
4
6
8
10

6. print number is reverse from 10 to  1 using for loop

In [10]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

7. print characters of a string using a for loop

In [11]:
my_string = 'Hello'
for char in my_string:
    print(char)

H
e
l
l
o

8. find the largest number in a list using a for loop

In [12]:
my_list = [3,9,1,6,2,8]
largest = my_list[0]
for num in my_list:
    if num> largest:
        largest = num
    print(largest)

3
9
9
9
9
9

9. find the average of numbers in a list using a for loop

In [13]:
my_list = [4,7,9,2,5]
total=0
for num in my_list:
    total +=num
average = total / len(my_list)
print(average)

5.4

10. print all uppercase letters in a string using a for loop

In [14]:
my_string = 'Hello World'
for char in my_string:
    if char.isupper():
        print(char)

H
W

11. count the number of vowels in a string using a for loop

In [16]:
my_string = 'Hello World'
vowels = 'AEIUOaeoiu'
count =0
for char in my_string:
    if char in vowels:
        count +=1
print(count)

3

12. print a pattern of sars using nested for loops

In [17]:
for i in range(5):
    for j in range(i+1):
        print('*',end='')
    print()

*
**
***
****
*****

13 calculate factorial of a number using a while loop

In [18]:
num = 5
factorial = 1
while num > 0:
    factorial *= num
    num -=1
print(factorial)

120

14 find the first occurence of a number in a list using a while loop

In [19]:
my_list = [3,8,2,7,4]
target = 7
index = 0
while index < len(my_list):
    if my_list[index] == target:
        break
    index +=1
else:
    index =-1
print(index)

3

15 calculate the sum of numbers from 1 to 100 using a while loop

In [21]:
num = 1
sum_numbers = 0
while num <=100:
    sum_numbers += num
    num +=1
print(sum_numbers)

5050

16 find all prime numbers between 1 to 50 using nested for and if

In [23]:
for num in range(2,51):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

17 print numbers divisible by 3 or 5 from 1 to 20 using a for loop

In [24]:
for num in range(1,21):
    if num % 3 == 0 or num % 5 == 0:
        print(num)

3
5
6
9
10
12
15
18
20

18 print a list of squares of numbers from 1 to 5 using a list comprehension

In [27]:
squares = [num**2 for num in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

19 print the fibonacci sequence up to the 10th term using a while loop

In [28]:
a,b = 0,1
count = 0
while count < 10:
    print(a,end='')
    a,b = b, a+b
    count +=1

0112358132134

20. Find the common elements in two lists using a for loop:

In [29]:
list1 =[1,2,3,4,5]
list2 =[3,4,5,6,7]
common_elements = []
for element in list1:
    if element in list2:
        common_elements.append(element)
print(common_elements)

[3, 4, 5]

21.Print numbers in a list until a negative number is encountered using a 
while loop:

In [30]:
my_list = [1,4,6,8,10,-3,5,7]
index = 0
while my_list[index] >= 0:
    print(my_list[index])
    index +=1

1
4
6
8
10

22. Print numbers from 1 to 5, except 3 using a for loop and continue 
statement:

In [31]:
for num in range(1,6):
    if num == 3:
        continue
    print(num)

1
2
4
5

23. Print numbers from 1 to 10. If a number is divisible by 4, stop the loop 
using a for loop and break statement:

In [32]:
for num in range (1,11):
    print(num)
    if num%4 == 0:
        break

1
2
3
4

24. print numbers from 1 to 10. if a number is even, skip it using a for loop and else clause

In [33]:
for num in range(1,11):
    if num % 2 == 0:
        continue 
    print(num)
else:
    print('loop completed successfully!')

1
3
5
7
9
loop completed successfully!

25. Print numbers from 1 to 10. If a number is even, break the loop using a for 
loop and else clause:

In [34]:
for num in range(1,11):
    if num % 2 == 0:
        break
    print(num)
else:
    print('loop completed successfully!')

1