In [2]:
def nit():
    print('7pm very smart but some of then are lazy')
nit()

7pm very smart but some of then are lazy

In [3]:
def nit():
    print('hello 7pm batch')
    print('good evening')
    print('bye bye')

nit()

hello 7pm batch
good evening
bye bye

In [4]:
def nit():
    print('hello 7pm batch')
    print('good evening')
    print('bye bye')

nit()
nit()
nit()

hello 7pm batch
good evening
bye bye
hello 7pm batch
good evening
bye bye
hello 7pm batch
good evening
bye bye

In [5]:
def nit():
    print('7pm team very smart')
    print('7pm batch never upload the tasks in linkedin & classroom')
    print('7pm team tou need to showcase talent to the world by create linkdin portfolio')
nit()

def placement():
    print('7pm batch team need to apply jobs as soon as possible')
    print('if you are very hard i will share all previous watch ans apply')
placement()

7pm team very smart
7pm batch never upload the tasks in linkedin & classroom
7pm team tou need to showcase talent to the world by create linkdin portfolio
7pm batch team need to apply jobs as soon as possible
if you are very hard i will share all previous watch ans apply

In [6]:
def nit():
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")

def placment():
    print('7pm batch team need to apply jobs as soon as possible')
    print('if you are very hard work i will share all previous watch ans apply')

nit()

placment()

7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm batch team need to apply jobs as soon as possible
if you are very hard work i will share all previous watch ans apply

In [7]:
def add(x,y):
    c=x+y
    print(c)

add(5,6)

11

In [8]:
def add(x,y):
    c=x+y
    print(c)

def placement():
    print('7pm batch team need to apply jobs as soon as possible')
    print('if you are very hard i will share all previous watch ans apply')

add(5,6)
placement()

11
7pm batch team need to apply jobs as soon as possible
if you are very hard i will share all previous watch ans apply

In [9]:
def add(x,y):
    c=x+y
    return c

result = add(5,4)
print(result)

9

In [10]:
def greet():
    print('hello')
    print('good noon')
greet()

def add(x,y):
    c=x+y
    return c

result = add(5,4)
print(result)

hello
good noon
9

In [11]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d

add_sub(4,5)

(9, -1)

In [12]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d

result = add_sub(4,5)

print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [13]:
def add_sub(x,y):
    c= x+y
    d=x-y
    return c,d

result1,result2 = add_sub(5,4)

print(result1,result2)

print(type(result1))
print(type(result2))

9 1
<class 'int'>
<class 'int'>

# 14th -- functional arguement

- formal arguement
- actual arguement

In [14]:
def add(a,b):
    c=a+b
    print(c)

add(5,6)

11

In [15]:
def add(a,b,d):
    c=a+b+d
    print(c)

add(5,6,7)

18

# actual arguement is 4 part

- positional arguement
- keyword arguement
- default keyword
- variable length arguement

In [16]:
def person(name,age):
    print(name)
    print(age)

person('nit',22)

nit
22

In [17]:
def person(name,age):
    print(name)
    print(age)
person('nit',24,25)

TypeError: person() takes 2 positional arguments but 3 were given

In [18]:
def person(name,age):
    print(name)
    print(age)
    
person(22,'nit')

22
nit

In [19]:
def person(name,age):
    print(name)
    print(age-5)
    
person(22,'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [24]:
def person(name,age,city):
    print(name)
    print(age-5)
    print(city)

person(age=22,name='nit',city='hyd')

nit
17
hyd

# keyword arguement

In [21]:
def person(name,age):
    print(name)
    print(age)
    
person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [22]:
def person(name,age= 20):
    print(name)
    print(age)
    
person('nit', 30)

nit
30

In [25]:
def person(name,age=18):
    print(name)
    print(age)

person('nit',40)

nit
40

# Variable length arguement

In [26]:
def sum(a,b):
    c=a+b
    print(c)

sum(5,6)

11

In [27]:
def sum(a,b):
    c=a+b
    return c
sum(5,6,7,8)

TypeError: sum() takes 2 positional arguments but 4 were given

In [28]:
def sum(a, *b):
    c=a+b
    return c

sum(5,6,7,8)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [29]:
def sum(a, *b):
    print(type(a))
    print(type(b))
sum(5,6,7,8)

<class 'int'>
<class 'tuple'>

In [30]:
def sum(a, *b):
    c=a
    for i in b:
        c=c+i
    print(c)
sum(5,6,7,8)

26

In [31]:
def sum(a, *b):
    c=a
    for i in b:
        c=c+i
    print(c)
sum(5,6,7,8,200,456,500,56)

1238

In [32]:
def sum(a, *b):
    for i in b:
        a=a+i
    print(a)
sum(5,6,7,8)

26

In [33]:
def sum(a, *b):
    a=5
    for i in b:
        a=a+i
    print(a)
sum(5,6,7,8)

26

kwargs(keyword arguement + variable length arguement)

In [34]:
def person():
    print(name)
    print(data)
person('ALEX', 36, 'JOHN', 987767)

TypeError: person() takes 0 positional arguments but 4 were given

In [35]:
def person(name, *data):
    print(name)
    print(data)
person('ALEX', 36, 'JOHN', 987767)

ALEX
(36, 'JOHN', 987767)

In [37]:
def person(name, *data):
    print(name)
    print(data)
person('ALEX', age=36,addr= 'JOHN', mob=987767)

TypeError: person() got an unexpected keyword argument 'age'

In [38]:
def person(name, *data):
    print(name)
    print(data)
person('mark', age=36, home_place='southcity', mob=9877677)

TypeError: person() got an unexpected keyword argument 'age'

In [39]:
def person(name, **data):
    print(name)
    print(data)
person('mark', age=36, home_place='southcity', mob=9877677)

mark
{'age': 36, 'home_place': 'southcity', 'mob': 9877677}

In [44]:
def person(name, **data):
    print(name)
    print(data)
person('mark', age=36, home_place='southcity', mob=9877677, degree= 'phd', bank='icici')

mark
{'age': 36, 'home_place': 'southcity', 'mob': 9877677, 'degree': 'phd', 'bank': 'icici'}